<span class="temp"
      ng-class="{'navActiveMain': recipe.navActive}"
      ng-click="recipe.toggleAdminNav()"
      ng-if="'edit'| isState"
      >filters</span>
<span class="temp"
      ng-class="{'navActiveMain': recipe.navActive}"
      ng-click="recipe.toggleAdminNav()"
      ng-if="'admin-showOne'| isState"
      >More</span>
<span class="temp"
      ng-class="{'navActiveMain': recipe.navActive}"
      ng-click="recipe.toggleAdminNav()"
      ng-if="'create'| isState"
      >More</span>
<nav class="admin-nav" ng-class="{'navActive': recipe.navActive}">
  <h1>Under the Figtree - Admin</h1>
  <a ng-if="'create' | isState" ui-sref="edit">show all</a>
  <a ng-if="'admin-showOne'| isState" ui-sref="edit">show all</a>

  <a ng-if="'admin-showOne'| isState" ui-sref="create">create</a>
  <a ng-if="'edit'| isState" ui-sref="create">create</a>

<filter ng-if="'edit'| isState"></filter>

</nav>
<div ui-view="admin-main" ng-init="recipe.showIng1 = true; recipe.navActive = false" class="admin-main"></div>
