<span class="nav-reveal nav-reveal-filter"
      ng-class="{'navActiveBtn': recipe.navActive}"
      ng-click="recipe.toggleAdminNav()"
      ng-if="recipe.navActive === false; 'none'| isState"
      >filters</span>
<span class="nav-reveal"
      ng-class="{'navActiveBtn': recipe.navActive}"
      ng-click="recipe.toggleNotes()"
      ng-if="'admin-showOne'| isState"
      >Notes</span>
<span class="nav-reveal"
      ng-class="{'navActiveBtn': recipe.navActive}"
      ng-click="recipe.toggleNotes()"
      ng-if="'create'| isState"
      >Notes</span>

      <a ng-if="'create' | isState" ui-sref="edit" class="nav-reveal nav-btns">show all</a>
      <a ng-if="'admin-showOne'| isState" ui-sref="edit" class="nav-reveal nav-btns btn-showAll-edit">show all</a>

      <a ng-if="'admin-showOne'| isState" ui-sref="create" class="nav-reveal nav-btns">create</a>
      <a ng-if="'edit'| isState" ui-sref="create" class="nav-reveal nav-btns">create</a>
<nav class="admin-nav" ng-class="{'navActive': recipe.navActive}">

  <!-- <form method="POST" action='/upload/single' enctype="multipart/form-data" ng-if="'admin-showOne'| isState">
    <div>
      <input name='file' type='file'>
    </div>
    <input type="submit"/>
  </form> -->

<filter ng-if="'edit'| isState" class="filter"></filter>

</nav>
<div ui-view="admin-main" ng-init="recipe.showIng1 = true; recipe.navActive = false" class="admin-main"></div>
