<h1 ng-init="recipe.getRecipe()">show one</h1>
<form ng-submit="recipe.updateRecipe()">
<div>
<label for="new-recipe-title">Title:</label>
<input
  type="text"
  id="new-recipe-title"
  placeholder="placeholder"
  ng-model="recipe.selectedRecipe.recipe.title">
</div>

<div>
<label for="new-recipe-cuisine">Cuisine:</label>
<input
  type="text"
  id="new-recipe-cuisine"
  placeholder="placeholder"
  ng-model="recipe.selectedRecipe.recipe.cuisine">
</div>

<div>
<label for="new-recipe-serves">Serves:</label>
<input
  type="text"
  id="new-recipe-serves"
  placeholder="placeholder"
  ng-model="recipe.selectedRecipe.recipe.serves">
</div>
<div>
<label for="new-recipe-type">Type:</label>
<input
  type="text"
  id="new-recipe-type"
  placeholder="placeholder"
  ng-model="recipe.selectedRecipe.recipe.type">
</div>

<!-- <div>
<label for="new-recipe-ingredients">ingredients:</label>
<input
  ng-repeat="ingredient in recipe.selectedRecipe.recipe.ingredients track by $index"
  type="text"
  id="new-recipe-ingredients"
  ng-model="recipe.selectedRecipe.recipe.ingredients[$index]">
</div> -->

<label for="new-recipe-ingredients">ingredients:</label>
<input
  ng-repeat="ingredient in recipe.selectedRecipe.recipe.ingredients track by $index"
  type="text"
  id="new-recipe-ingredients"
  ng-model="recipe.selectedRecipe.recipe.ingredients[$index]">
<div>
<label for="new-recipe-instructions">instructions:</label>
<input
  ng-repeat="instructions in recipe.selectedRecipe.recipe.instructions track by $index"
  type="text"
  id="new-recipe-instructions"
  placeholder="placeholder"
  ng-model="recipe.selectedRecipe.recipe.instructions[$index]">
</div>


<div>
<input type="submit" value="Submit" >
</div>

</form>
<button ng-click="recipe.deleteRecipe(recipe.selectedRecipe.recipe._id)">Delete</button>
