.cooking-mode{
  // transform: translateY(300%);
  // top: 35px;
  // transform: translateY(100%);
  left: 20px;


  i {
    background: url('/images/cook-icon.svg') center no-repeat;
  }
}

.type1Container {
  @include flex($direction:row);

  h3 {
    margin-right: 5px;
  }
}
