body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  top: 0;
  left: 0; }

.home-wrap {
  width: 100vw;
  border: 1px solid #d32f2f; }

.recipe {
  border-bottom: 2px solid black;
  margin-bottom: 20px; }
