<div class="home-wrap">
    <h2>Home State</h2>

    <input ng-model="recipeSearch">
    <ul>
        <li type="text" ng-repeat="recipes in recipe.recipeListTest | filter: recipeSearch | orderBy:title track by $index" class="recipe">
            {{recipes.title}}<br>Cuisine: {{recipes.cuisine}} <br>Servers:{{recipes.serves}}<br>

            <br>
            <p>Incredients:</p>
            <ul>
                <li ng-repeat="ingredients in recipes.ingredients track by $index"> {{ingredients}} </li>
                <br>
                <p>Marinade:</p>
                <li ng-repeat="marinade in recipes.marinade track by $index"> {{marinade}} </li>
            </ul>

            <br>
            <p>Instructions:</p>
            <br>
            <ol>
                <li ng-repeat="instructions in recipes.instructions track by $index"> {{instructions}} </li>
            </ol>
            <br>
            <br>





        </li>
    </ul>
</div>
