<form ng-submit="recipe.createRecipe()" ng-init="recipe.createClear()">

<div>
<label for="new-recipe-title">Title:</label>
<input
  type="text"
  id="new-recipe-title"
  placeholder="placeholder"
  ng-model="recipe.recipeData.title">
</div>

<label for="new-recipe-cuisine">Cuisine:</label>
<select id="new-recipe-cuisine" name="new-recipe-cuisine" ng-model="recipe.recipeData.cuisine" ng-options="r for r in recipe.cuisineOptions">
</select>

<label for="new-recipe-serves">Serves:</label>
<select id="new-recipe-serves" name="new-recipe-serves" ng-model="recipe.recipeData.serves" ng-options="r for r in recipe.serveOptions">
</select>

<div>
<label for="new-recipe-makes">Makes:</label>
<input
  type="text"
  id="new-recipe-makes"
  placeholder="placeholder"
  ng-model="recipe.recipeData.makes">
</div>

<label for="new-recipe-type">Type:</label>
<select id="new-recipe-type" name="new-recipe-type" ng-model="recipe.recipeData.type" ng-options="r for r in recipe.typeOptions">
</select>

<fieldset  data-ng-repeat="ing in recipe.ing">
  <label for="new-recipe-ingredients">ingredients:</label>
      <input type="text" ng-model="recipe.recipeData.ingredients[$index]" name="" placeholder="Enter employe name">

      <a class="remove" ng-show="$last" ng-click="recipe.removeChoiceIng()">-</a>
   </fieldset>
   <a class="addfields" ng-click="recipe.addNewChoiceIng()">Add fields</a>

<fieldset  data-ng-repeat="ing_2 in recipe.ing_2">
  <label for="new-recipe-ingredients_2">ingredients_2:</label>
      <input type="text" ng-model="recipe.recipeData.ingredients_2[$index]" name="" placeholder="Enter employe name">

      <a class="remove" ng-show="$last" ng-click="recipe.removeChoiceIng_2()">-</a>
   </fieldset>
   <a class="addfields" ng-click="recipe.addNewChoiceIng_2()">Add fields</a>


<fieldset  data-ng-repeat="inst in recipe.inst">
  <label for="new-recipe-instructions">instructions:</label>
      <input type="text" ng-model="recipe.recipeData.instructions[$index]" name="" placeholder="Enter employe name">

      <a class="remove" ng-show="$last" ng-click="recipe.removeChoiceInst()">-</a>
   </fieldset>
   <a class="addfields" ng-click="recipe.addNewChoiceInst()">Add fields</a>






<div>
<input type="submit" value="Create Recipe" class="createBtn">
</div>

</form>
