<form ng-submit="recipe.createRecipe()" ng-init="recipe.createClear()">

<div>
<label for="new-recipe-title">Title:</label>
<input
  type="text"
  id="new-recipe-title"
  placeholder="placeholder"
  ng-model="recipe.recipeData.title">
</div>

<label for="new-recipe-cuisine">Cuisine:</label>
<select id="new-recipe-cuisine" name="new-recipe-cuisine" ng-model="recipe.recipeData.cuisine" ng-options="r for r in recipe.cuisineOptions">
</select>

<label for="new-recipe-serves">Serves:</label>
<select id="new-recipe-serves" name="new-recipe-serves" ng-model="recipe.recipeData.serves" ng-options="r for r in recipe.serveOptions">
</select>

<div>
<label for="new-recipe-makes">Makes:</label>
<input
  type="text"
  id="new-recipe-makes"
  placeholder="placeholder"
  ng-model="recipe.recipeData.makes">
</div>

<label for="new-recipe-type">Type:</label>
<select id="new-recipe-type" name="new-recipe-type" ng-model="recipe.recipeData.type" ng-options="r for r in recipe.typeOptions">
</select>
<label for="new-recipe-type2">Type2:</label>
<select id="new-recipe-type2" name="new-recipe-type2" ng-model="recipe.recipeData.type2" ng-options="r for r in recipe.typeOptions">
</select>



<div class="ing-container">
<label for="new-recipe-ingredients">ingredients:</label>

<div class="ing-inner-container"><label for="new-recipe-ingredients-quantity">quantity:</label>
<input

  type="text"
  id="new-recipe-ingredients-quantity"
  ng-model="recipe.recipeData.ingredients.quantity"
  class="ing-input"></div>

<div class="ing-inner-container"><label for="new-recipe-ingredients-units">units:</label>
  <input
    id="new-recipe-ingredients-units"
    type="text"
    ng-model="recipe.recipeData.ingredients.unit"
    class="ing-input"></div>

<div class="ing-inner-container"><label for="new-recipe-ingredients-name">name:</label>
  <input
    id="new-recipe-ingredients-name"
    type="text"
    ng-model="recipe.recipeData.ingredients.name"
    class="ing-input"></div>
  </div>

  <div class="ing-container">
  <label for="new-recipe-ingredients_2">ingredients_2:</label>

  <div class="ing-inner-container"><label for="new-recipe-ingredients_2-quantity">quantity:</label>
  <input
    ng-model="recipe.recipeData.ingredients_2.quantity"
    type="text"
    id="new-recipe-ingredients_2-quantity"
    class="ing-input">
  </div>

  <div class="ing-inner-container"><label for="new-recipe-ingredients_2-units">units:</label>
    <input
      id="new-recipe-ingredients_2-units"
      type="text"
      ng-model="recipe.recipeData.ingredients_2.unit"
      class="ing-input"></div>

  <div class="ing-inner-container"><label for="new-recipe-ingredients_2-name">name:</label>
    <input
      id="new-recipe-ingredients_2-name"
      type="text"
      ng-model="recipe.recipeData.ingredients_2.name"
      class="ing-input"></div>
    </div>




  <label for="new-recipe-instructions">instructions:</label>
      <input type="text" ng-model="recipe.recipeData.instructions" name="" placeholder="Enter employe name">



   <label for="new-recipe-isLive">isLive:</label>
   <select id="new-recipe-isLive" name="new-recipe-isLive" ng-model="recipe.recipeData.isLive" ng-options="r for r in recipe.isLiveOptions">
   </select>



<div>
<input type="submit" value="Create Recipe" class="createBtn">
</div>

</form>
