<div class="message" ng-if="recipe.showMessage">
  <p>Recipe Created</p>
</div>

<div class="btn-save">
  <input autocomplete="off" type="submit" value="Save changes" ng-disabled="admin-form.$invalid"
  ng-click="recipe.createRecipe(); recipe.notesActive = false">
</div>

<form class="admin-form admin-form-create"
      name="admin-form"
      ng-init="recipe.createClear()"
      ng-class="{'notesActiveMain': recipe.notesActive}">
  <div class="info" ng-click="recipe.notesActive = false">
    <div class="info-inner info-inner-med">
      <div class="recipe-title">
        <input autocomplete="off"
               type="text" id="new-recipe-title"
               name="test"
               placeholder="Title"
               required
               ng-model="recipe.recipeData.title"
               class="{'dirty': recipe.admin-form.$dirty}">
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-cuisine"
                name="new-recipe-cuisine"
                ng-model="recipe.recipeData.cuisine"
                ng-options="r for r in recipe.cuisineOptions"
                placholder="cuisine"
                required>
          <option value="" disabled>- cuisine -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-serves"
                name="new-recipe-serves"
                ng-model="recipe.recipeData.serves"
                ng-options="r for r in recipe.serveOptions"
                required>
          <option value="" disabled>- servers -</option>
          </select>
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-makes"
                name="new-recipe-makes"
                ng-model="recipe.recipeData.makes"
                ng-options="r for r in recipe.makeOptions"
                required>
          <option value="" disabled>-  makes -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-type"
                name="new-recipe-type"
                ng-model="recipe.recipeData.type"
                ng-options="r for r in recipe.typeOptions1"
                required>
          <option value="" disabled>- type -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-type2"
                name="new-recipe-type2"
                ng-model="recipe.recipeData.type2"
                ng-options="r for r in recipe.typeOptions2"
                required>
          <option value="" disabled>- secondary type -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-isLive"
                name="new-recipe-isLive"
                ng-model="recipe.recipeData.isLive"
                ng-options="r for r in recipe.isLiveOptions"
                required>
          <option value="" disabled>- live -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-new"
                name="new-recipe-new"
                ng-model="recipe.recipeData.new"
                ng-options="r for r in recipe.newOptions"
                required>
          <option value="" disabled>- new -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <span class="drop-down"></span>
        <select id="new-recipe-featured"
                name="new-recipe-featured"
                ng-model="recipe.recipeData.featured"
                ng-options="r for r in recipe.newOptions"
                required>
          <option value="" disabled>- featured -</option>
        </select>
      </div>

    </div>

    <div class="info-inner info-inner-sml">
      <h2>image</h2>
        <div>
          <input name="file" type="file" fileread="recipe.recipeData.img">
        </div>
    </div>
  </div>

  <div class="info info-notes-blurb">
    <div class="info-inner info-inner-med">
      <div class="recipe-title">
        <h1>Public Notes</h1>
      </div>
      <textarea type="text" id="new-recipe-instructions"
                placeholder="- enter instruction -"
                ng-model="recipe.recipeData.notes"></textarea>
    </div>



    <div class="info-inner info-inner-sml">
      <div class="recipe-title">
        <h1>Blurb</h1>
      </div>
      <textarea type="text" id="new-recipe-blurb"
                placeholder="- enter blurb -"
                ng-model="recipe.recipeData.blurb"></textarea>
    </div>
  </div>

  <div class="admin-ing"
        ng-class="{'visible': recipe.showIng1}"
        ng-click="recipe.notesActive = false">
    <div class="switch-container">
      <div class="switch"
           ng-click="recipe.toggleIng()">
        <div class="slider round"
             ng-class="{'sliderClicked': !recipe.showIng1}"></div>
      </div>
    </div>
    <h2>Ingredients</h2>
    <div class="ing-headers">
      <div class="ing-inner-headers">
        <h3>Quantity</h3>
        <h3>Unit</h3>
        <h3 class="flex">Ingredient</h3>
      </div>
    </div>

    <div ng-repeat="ingredient in recipe.recipeData.ingredients track by $index">
      <div class="ing-container">
        <div class="ing-inner-container">
          <input autocomplete="off"
                  type="text" id="new-recipe-ingredients.qty"
                  ng-model="recipe.recipeData.ingredients[$index].qty"
                  placeholder="-"></div>

        <div class="ing-inner-container">
          <span class="drop-down"></span>
          <select id="new-recipe-units"
                  name="new-recipe-units"
                  ng-model="recipe.recipeData.ingredients[$index].unit"
                  ng-options="r for r in recipe.unitsOptions"
                  placholder="-"
                  >
            <option value="" disabled>-</option>
          </select>
        </div>

        <div class="ing-inner-container ing-name">
          <input autocomplete="off"
                 type="text" id="new-recipe-ingredients.name"
                 ng-model="recipe.recipeData.ingredients[$index].name"
                 placeholder="-"
                 required>
        </div>

      </div>
    </div>
    <div class="add-del-btns">
      <additem inst="recipe.recipeData.ingredients" class="btns btn1"></additem>
      <remove ingarr="recipe.recipeData.ingredients" class="btns btn2"></remove>
    </div>
  </div>


  <div class="admin-ing" ng-class="{'visible': !recipe.showIng1}">
    <div class="ing_2-title">
      <input autocomplete="off"
              type="text" id="new-recipe-ingredients_2.title"
              ng-model="recipe.recipeData.ingredients_2_title"
              placeholder="title"></div>

    <div class="switch-container">
      <div class="switch" ng-click="recipe.toggleIng()">
        <div class="slider round" ng-class="{'sliderClicked': !recipe.showIng1}"></div>
      </div>
    </div>

    <div class="ing-headers">
      <div class="ing-inner-headers">
        <h3>Quantity</h3>
        <h3>Unit</h3>
        <h3 class="flex">Ingredient</h3>
      </div>
    </div>
    <div ng-repeat="ingredient in recipe.recipeData.ingredients_2 track by $index">


      <div class="ing-container">

        <div class="ing-inner-container">
          <input autocomplete="off"
                  type="text" id="new-recipe-ingredients_2.qty"
                  ng-model="recipe.recipeData.ingredients_2[$index].qty"
                  placeholder="-"></div>

        <div class="ing-inner-container">
          <span class="drop-down"></span>
          <select id="new-recipe-units_2"
                  name="new-recipe-units_2"
                  ng-model="recipe.recipeData.ingredients_2[$index].unit"
                  ng-options="r for r in recipe.unitsOptions"
                  placholder="-"
                  >
            <option value="" disabled>-</option>
          </select>
</div>
        <div class="ing-inner-container ing-name">
          <input autocomplete="off"
          type="text" id="new-recipe-ingredients_2.name"
          ng-model="recipe.recipeData.ingredients_2[$index].name"
          placeholder="-">
        </div>

      </div>
    </div>
    <div class="add-del-btns">
      <additem inst="recipe.recipeData.ingredients_2" class="btns btn1"></additem>
      <remove ingarr="recipe.recipeData.ingredients_2" class="btns btn2"></remove>
    </div>
  </div>

  <div class="admin-inst">
    <h2>Instructions</h2>
    <div>
      <div class="ing-container inst-container">
        <div class="ing-inner-container inst-inner-container"
             ng-repeat="instructions in recipe.recipeData.instructions track by $index">
          <div class="numbers">
            <p>{{$index+1}}.</p>
            <textarea type="text" id="new-recipe-notes"
                      placeholder="- enter instruction -"
                      ng-model="recipe.recipeData.instructions[$index].instruction"
                      required>
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="add-del-btns">
      <additem inst="recipe.recipeData.instructions" class="btns btn1"></additem>
      <remove ingarr="recipe.recipeData.instructions" class="btns btn1"></remove>
    </div>
  </div>
</form>
