<h1>edit</h1>
<!-- ng-init="recipe.getRecipes()" GET ALL RECIPES -->
<input type="search"
  ng-model="searchRecipies">
<!-- TODO: ng-if to prevent all data req firing at once -->

<recipes></recipes>
<!-- <cambodian></cambodian>
<chinese></chinese>
<english></english>
<indian></indian>
<italian></italian>
<pakistani></pakistani>
<thai></thai>

<baking></baking>
<beef></beef>
<chicken></chicken>
<fish></fish>
<lamb></lamb>
<mince></mince>
<pork></pork>
<prawns></prawns>
<seafood></seafood>
<sides></sides>
<starters></starters>
<veg></veg> -->
