<!-- <checkboxcusine cuisineoptions="recipe.cuisineOptions"></checkboxcusine> -->

<!-- <cuisine cntr="recipe.getRecipeByCuisine" results="recipe.results" cuisine="indian"></cuisine> -->

<div class="edit-container"   ng-class="{'navActiveMainEdit': recipe.navActive}">
  <div class="search-bar-container">
    <input autocomplete="off"
           type="search"
           ng-model="searchRecipe"
           placeholder="search"
           class="search-bar"
           id="search">
  </div>
<p ng-if="recipe.numItems('count') !== -1" class="counter">No of Recipes: {{recipe.numItems('count')}}</p>
<recipes class="all-recipes"></recipes>

</div>
