<form class="admin-form"
      name="admin-form"
      ng-submit="recipe.updateRecipe()"
      ng-init="recipe.getRecipe()"
      ng-class="{'navActiveMain': recipe.navActive}"
      ng-click="recipe.navActive = false">

  <div class="info">
    <div class="info-inner info-inner-med">
      <div class="recipe-title">
        <input autocomplete="off"
                type="text" id="new-recipe-title"
                name="test"
                placeholder="title"
                ng-model="recipe.selectedRecipe.recipe.title"
                class="{'dirty': recipe.admin-form.$dirty}"
                required>
      </div>

      <div class="ing-inner-container">
        <label for="new-recipe-cuisine">Cuisine</label>
        <span class="drop-down"></span>
        <select id="new-recipe-cuisine"
                name="new-recipe-cuisine"
                ng-model="recipe.selectedRecipe.recipe.cuisine"
                ng-options="r for r in recipe.cuisineOptions"
                required>
                  <option value="" disabled>- cuisine -</option>
        </select>
      </div>


      <div class="ing-inner-container">
        <label for="new-recipe-serves">Serves</label>
        <span class="drop-down"></span>
        <select id="new-recipe-serves"
                name="new-recipe-serves"
                ng-model="recipe.selectedRecipe.recipe.serves"
                ng-options="r for r in recipe.serveOptions"
                required>
                  <option value="" disabled>- serves -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <label for="new-recipe-makes"> Makes</label>

        <span class="drop-down"></span>
        <select id="new-recipe-makes"
                name="new-recipe-makes"
                ng-model="recipe.selectedRecipe.recipe.makes"
                ng-options="r for r in recipe.makeOptions"
                required>
          <option value="" disabled>-  makes -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <label for="new-recipe-type">Type</label>
        <span class="drop-down"></span>
        <select id="new-recipe-type"
                name="new-recipe-type"
                ng-model="recipe.selectedRecipe.recipe.type"
                ng-options="r for r in recipe.typeOptions1"
                required>
                <option value="" disabled>-  type -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <label for="new-recipe-type2">Secondary Type</label>
        <span class="drop-down"></span>
        <select id="new-recipe-type2"
                name="new-recipe-type2"
                ng-model="recipe.selectedRecipe.recipe.type2"
                ng-options="r for r in recipe.typeOptions2"
                required>
                  <option value="" disabled>- secondary type -</option>
        </select>
      </div>

      <div class="ing-inner-container">
        <label for="new-recipe-isLive">isLive<span class="isLive isLiveEdit" ng-class="{'notLive': recipe.selectedRecipe.recipe.isLive === 'no' }"></span></label>
        <span class="drop-down"></span>
        <select id="new-recipe-isLive"
                name="new-recipe-isLive"
                ng-model="recipe.selectedRecipe.recipe.isLive"
                ng-options="r for r in recipe.isLiveOptions"
                required>
                  <option value="" disabled>- isLive -</option>
        </select>
      </div>
    </div>

    <div class="info-inner info-inner-sml">
      <h2>image</h2>
      <div class="ing-inner-container ing-inner-img"
           ng-repeat="img in recipe.selectedRecipe.recipe.img | limitTo: 1 track by $index">
        <img src="/images/food/{{img}}" alt="">
        <input autocomplete="off"
              type="text" id="img"
              placeholder="img src"
              ng-model="recipe.selectedRecipe.recipe.img[$index]"
              class="info-img">
      </div>
    </div>
  </div>

  <div class="admin-ing" ng-class="{'visible': recipe.showIng1}">
    <div class="switch-container">
      <div class="switch" ng-click="recipe.toggleIng()">
        <div class="slider round" ng-class="{'sliderClicked': !recipe.showIng1}"></div>
      </div>
    </div>
    <h2>Ingredients</h2>

    <div class="ing-headers">
      <div class="ing-inner-headers">
        <h3>Quantity</h3>
        <h3>Unit</h3>
        <h3 class="flex">Ingredient</h3>
      </div>
    </div>
    <div ng-repeat="ingredient in recipe.selectedRecipe.recipe.ingredients track by $index">


      <div class="ing-container">
        <div class="ing-inner-container">
          <input autocomplete="off"
                 type="text" id="new-recipe-ingredients.qty"
                 ng-model="recipe.selectedRecipe.recipe.ingredients[$index].qty"
                 placeholder="-">
        </div>

        <div class="ing-inner-container">
                 <select id="new-recipe-units"
                         name="new-recipe-units"
                         ng-model="recipe.selectedRecipe.recipe.ingredients[$index].unit"
                         ng-options="r for r in recipe.unitsOptions"
                         placholder="-"
                         >
                   <option value="" disabled>-</option>
                 </select>
        </div>

        <div class="ing-inner-container ing-name">
          <input autocomplete="off"
                 type="text" id="new-recipe-ingredients.name"
                 ng-model="recipe.selectedRecipe.recipe.ingredients[$index].name"
                 placeholder="-">
        </div>

      </div>
    </div>
    <div class="add-del-btns">
      <additem inst="recipe.selectedRecipe.recipe.ingredients" class="btns btn1"></additem>
      <remove ingarr="recipe.selectedRecipe.recipe.ingredients" class="btns btn2"></remove>
    </div>
  </div>


  <div class="admin-ing"
       ng-class="{'visible': !recipe.showIng1}">
    <div class="ing_2-title">
      <input autocomplete="off"
             type="text" id="new-recipe-ingredients_2.title"
             ng-model="recipe.selectedRecipe.recipe.ingredients_2_title"
             placeholder="-">
    </div>

    <div class="switch-container">
      <div class="switch" ng-click="recipe.toggleIng()">
        <div class="slider round" ng-class="{'sliderClicked': !recipe.showIng1}"></div>
      </div>
    </div>


    <div class="ing-headers">
      <div class="ing-inner-headers">
        <h3>Quantity</h3>
        <h3>Unit</h3>
        <h3 class="flex">Ingredient</h3>
      </div>
    </div>
    <div ng-repeat="ingredient in recipe.selectedRecipe.recipe.ingredients_2 track by $index">

      <div class="ing-container">
        <div class="ing-inner-container">
          <input autocomplete="off"
                 type="text" id="new-recipe-ingredients_2.qty"
                 ng-model="recipe.selectedRecipe.recipe.ingredients_2[$index].qty"
                 placeholder="-">
        </div>

        <div class="ing-inner-container">
           <select id="new-recipe-units_2"
                   name="new-recipe-units_2"
                   ng-model="recipe.selectedRecipe.recipe.ingredients_2[$index].unit"
                   ng-options="r for r in recipe.unitsOptions"
                   placholder="-">
             <option value="" disabled>-</option>
          </select>
        </div>

        <div class="ing-inner-container ing-name">
          <input autocomplete="off"
                 type="text" id="new-recipe-ingredients_2.name"
                 ng-model="recipe.selectedRecipe.recipe.ingredients_2[$index].name"
                 placeholder="-">
        </div>

      </div>
    </div>
    <div class="add-del-btns">
      <additem inst="recipe.selectedRecipe.recipe.ingredients_2" class="btns btn1"></additem>
      <remove ingarr="recipe.selectedRecipe.recipe.ingredients_2" class="btns btn2"></remove>
    </div>
  </div>

  <div class="admin-inst">
    <h2>Instructions</h2>
    <div>
      <div class="ing-container inst-container">
        <div class="ing-inner-container inst-inner-container"
             ng-repeat="instructions in recipe.selectedRecipe.recipe.instructions track by $index">
          <div class="numbers">
            <p>{{$index+1}}</p>
            <textarea type="text" id="new-recipe-instructions"
                      placeholder="placeholder"
                      ng-model="recipe.selectedRecipe.recipe.instructions[$index].instruction"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="add-del-btns">
      <additem inst="recipe.selectedRecipe.recipe.instructions" class="btns btn1"></additem>
      <remove ingarr="recipe.selectedRecipe.recipe.instructions" class="btns btn1"></remove>
    </div>
  </div>





  <div class="btn-save">
    <input autocomplete="off" type="submit" value="Save changes">
  </div>

</form>


<deletebtn cntr="recipe.deleteRecipe" recipeid="recipe.selectedRecipe.recipe._id"></deletebtn>
