
<section class="home-section" ng-init="recipe.getRecipe()" >
  <div class="front-temp" ng-repeat="r in recipe.selectedRecipe track by $index">
    <div class="head-container" ng-class="{'cookingMode': recipe.cookingModeActive}">
      <h2>{{r.title}}</h2>
      <h3>{{r.cuisine}}</h3>
      <h3>Serves: {{r.serves}}</h3>
      <div class="type1Container">
        <h3 ng-if="r.type !== '-'">{{r.type}},</h3>
        <h3 ng-if="r.typeB !== '-'">{{r.typeB}}</h3>
      </div>
      <div class="type1Container">
        <h3 ng-if="r.type2 !== '-'">{{r.type2}},</h3>
        <h3 ng-if="r.type2B !== '-'">{{r.type2B}}</h3>
    </div>
      <!-- <h4>recipe</h4> -->
    </div>
    <img src="https://s3.amazonaws.com/under-the-fig-tree/{{r.blurImg[$index]}}"  lazy-img="https://s3.amazonaws.com/under-the-fig-tree/{{r.img[$index]}}" alt=""
    ng-class="{'cookingMode': recipe.cookingModeActive}">
    <p ng-class="{'cookingMode': recipe.cookingModeActive}"> {{r.notes}}</p>
    <h2>Ingredients</h2>
    <div class="list-containers">
      <ul class="front-ing-list" ng-repeat="i in r.ingredients | orderBy:'unit' track by $index">
        <li>{{i.qty}}</li>
        <li>{{i.unit}}</li>
        <li>{{i.name}}</li>
      </ul>
    </div>
    <h2>{{recipe.ingredients_2_title}}</h2>
    <div class="list-containers">
      <ul class="front-ing-list" ng-repeat="i in r.ingredients_2 | orderBy:'unit' track by $index">
        <li>{{i.qty}}</li>
        <li>{{i.unit}}</li>
        <li>{{i.name}}</li>
      </ul>
    </div>

    <h2>Instructions</h2>
    <div class="list-containers">
      <ol ng-repeat="ins in r.instructions track by $index">
        <li>{{ins.instruction}}</li>
      </ol>
    </div>
  </div>
</section>
