<!DOCTYPE html>
<div class="home-wrap" ng-init="recipe.getRecipes()">
    <h2>Home State</h2>
    {{recipes}}
    <!-- <input ng-model="recipeSearch">
    <ul>
        <li type="text" ng-repeat="recipes in recipe.recipeListTest | filter: recipeSearch | orderBy:title track by $index" class="recipe">
            {{recipes.title}}<br>Cuisine: {{recipes.cuisine}} <br>Serves:{{recipes.serves}}<br>

            <br>
            <p>Incredients:</p>
            <ul>
                <li ng-repeat="ingredients in recipes.ingredients track by $index"> {{ingredients}} </li>
                <br>
                <p ng-if="recipes.ingredients_2.length > 0">Marinade:</p>
                <li ng-repeat="marinade in recipes.ingredients_2 track by $index" ng-if="recipes.ingredients_2.length > 0"> {{marinade}} </li>
            </ul>

            <br>
            <p>Instructions:</p>
            <br>
            <ol>
                <li ng-repeat="instructions in recipes.instructions track by $index"> {{instructions}} </li>
            </ol>
            <br>
            <br>





        </li>
    </ul> -->
</div>
