<!DOCTYPE html>
<div class="home-wrap" ng-init="recipe.getRecipes()">
    <h2>Home State</h2>
    {{recipe.recipe}}
    <!-- <input ng-model="recipeSearch">
    <ul>
        <li type="text" ng-repeat="recipes in recipe.recipeListTest | filter: recipeSearch | orderBy:title track by $index" class="recipe">
            {{recipes.title}}<br>Cuisine: {{recipes.cuisine}} <br>Serves:{{recipes.serves}}<br>

            <br>
            <p>Incredients:</p>
            <ul>
                <li ng-repeat="ingredients in recipes.ingredients track by $index"> {{ingredients}} </li>
                <br>
                <p ng-if="recipes.ingredients_2.length > 0">Marinade:</p>
                <li ng-repeat="marinade in recipes.ingredients_2 track by $index" ng-if="recipes.ingredients_2.length > 0"> {{marinade}} </li>
            </ul>

            <br>
            <p>Instructions:</p>
            <br>
            <ol>
                <li ng-repeat="instructions in recipes.instructions track by $index"> {{instructions}} </li>
            </ol>
            <br>
            <br>





        </li>
    </ul> -->
    <form ng-submit="recipe.createRecipe()">

  <div>
    <label for="new-recipe-title">Title:</label>
    <input
      type="text"
      id="new-recipe-title"
      placeholder="placeholder"
      ng-model="recipe.recipeData.title">
  </div>

  <div>
    <label for="new-recipe-cuisine">Cuisine:</label>
    <input
      type="text"
      id="new-recipe-cuisine"
      placeholder="placeholder"
      ng-model="recipe.recipeData.cuisine">
  </div>

  <div>
    <label for="new-recipe-serves">Serves:</label>
    <input
      type="text"
      id="new-recipe-serves"
      placeholder="placeholder"
      ng-model="recipe.recipeData.serves">
  </div>
  <div>
    <label for="new-recipe-type">Type:</label>
    <input
      type="text"
      id="new-recipe-type"
      placeholder="placeholder"
      ng-model="recipe.recipeData.type">
  </div>

  <div>
    <label for="new-recipe-ingredients">ingredients:</label>
    <input
      type="text"
      id="new-recipe-ingredients"
      placeholder="placeholder"
      ng-model="recipe.recipeData.ingredients">
  </div>
  <div>
    <label for="new-recipe-instructions">instructions:</label>
    <input
      type="text"
      id="new-recipe-instructions"
      placeholder="placeholder"
      ng-model="recipe.recipeData.instructions">
  </div>


  <div>
    <input type="submit" value="Add Duck" >
  </div>

</form>
</div>
